/* https://colorhunt.co/palette/f1f1f1fdb82721209c23120b */
/* https://colorpalettes.net/color-palette-1868/ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --neutral-color: #efefef;
  --watermelon-color: #ff3b3f;
  --carbon-color: #a9a9a9;
  --sky-color: #caebf2;
}

body {
  background-color: #f1f1f1;
  background: url(./images/Simple\ Shiny.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yellow {
  color: #fdb827;
}

.black {
  color: #23120b;
}

.blue {
  color: #21209c;
}

.white {
  color: #f1f1f1;
}

.red {
  color: #ff3b3f;
}

/* Homepage */
#home-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Hero Section */

.hero {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  row-gap: 30px;
  margin: 1em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nametag {
  background-color: var(--watermelon-color);
  border-radius: 15px;
  padding: 1em 0 1.5em 0;
  text-align: center;
  min-width: clamp(200px, 12vw + 20px, 700px);
  border: 1px solid black;
}

.nametag h1 {
  font-size: clamp(1rem, 8vw + 1rem, 6rem);
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: clamp(1rem, 8vw + 1rem, 5rem);
  color: var(--neutral-color);
}

.nametag p {
  font-size: clamp(1rem, 5vw + 0.2rem, 3rem);
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 4rem;
  color: var(--neutral-color);
}

.nametag-content div:nth-child(2) {
  min-height: 100px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.nametag h2 {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(1rem, 8vw + 0.2rem, 4rem);
}

.under-nametag {
  padding: 1rem;
}

.under-nametag-span {
  background-color: var(--sky-color);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.img-container {
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  flex: 1;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Footer Links */
.links {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.links-container {
  max-width: 500px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.links-container img {
  width: 40px;
}
/* About Section Styling */
.about-header {
  font-size: clamp(3rem, 12vw + 1rem, 7rem);
  text-align: center;
  padding: 1rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
  flex-flow: row wrap;
  padding: 1.5rem;
}

.about-img {
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  max-width: 700px;
  padding: 1rem;
  font-size: clamp(1rem, 5vw + 0.2rem, 2rem);
  background-color: #23120b;
  color: #fdb827;
  border-radius: 10px;
}

/* About - Hobbies */
.hobbies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hobbies h2 {
  font-size: clamp(2rem, 12vw + 1rem, 4rem);
}

.hobbies-card h3 {
  text-align: center;
}

.hobbies-card {
  max-width: 700px;
  font-size: clamp(1rem, 5vw + 0.2rem, 1.6rem);
  padding: 1.5rem;
  background-color: #23120b;
  color: #fdb827;
  border-radius: 10px;
  margin: 10px;
}

/* About - Skills */
.skills {
  padding: 3em 5em;
}

.skills-header {
  text-align: center;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.skills-box {
  min-width: 200px;
  max-width: 250px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
}

.skills-img {
  min-width: 100px;
}

.skills-img img {
  width: 100%;
  height: auto;
}
.skills-content {
  text-align: center;
}
/* Contact Form Styling */
form {
  background: var(--sky-color);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
  color: var(--watermelon-color);
  border: 2px solid var(--carbon-color);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

form .title h2 {
  letter-spacing: 6px;
  border-bottom: 2px solid var(--neutral-color);
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: var(--neutral-color);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
  color: var(--watermelon-color);
}

form .action input[type="submit"] {
  background: var(--neutral-color);
  color: var(--watermelon-color);
}

@media (max-width: 480px) {
  form .half {
    flex-direction: column;
  }
  form .half .item {
    width: 100%;
  }
  form .action {
    display: flex;
    flex-direction: column;
  }
  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* Store Page */
.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
  padding: 1rem 0;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}

.tour-date {
  color: #555;
  width: 11%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* Footer */
