/* https://colorhunt.co/palette/f1f1f1fdb82721209c23120b */
/* https://colorpalettes.net/color-palette-1868/ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --neutral-color: #efefef;
  --watermelon-color: #ff3b3f;
  --carbon-color: #a9a9a9;
  --sky-color: #caebf2;
}

body {
  background-color: #f1f1f1;
  background: url(./images/Simple\ Shiny.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yellow {
  color: #fdb827;
}

.black {
  color: #23120b;
}

.blue {
  color: #21209c;
}

.grey {
  color: var(--carbon-color);
}

.white {
  color: var(--neutral-color);
}

.red {
  color: var(--watermelon-color);
}

/* Homepage */
#home-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Hero Section */

.hero {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  row-gap: 10px;
  margin: 1em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.nametag {
  background-color: var(--watermelon-color);
  border-radius: 15px;
  padding: 1em 0 1.5em 0;
  text-align: center;
  min-width: clamp(300px, 12vw + 20px, 700px);
  border: 1px solid black;
}

.nametag h1 {
  font-size: clamp(1rem, 8vw + 1rem, 6rem);
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: clamp(1rem, 8vw + 1rem, 5rem);
  color: var(--neutral-color);
}

.nametag p {
  display: inline-block;
  font-size: clamp(1rem, 5vw + 0.2rem, 3rem);
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 2.5rem;
  color: var(--neutral-color);
}

.nametag-content div:nth-child(2) {
  min-height: 100px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.nametag h2 {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(1rem, 8vw + 0.2rem, 4rem);
}

.under-nametag {
  padding: 0.5rem;
  text-align: center;
}

.under-nametag-span {
  display: inline-block;
  background-color: var(--sky-color);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.img-container {
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  flex: 1;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.clock {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 5vw + 0.2rem, 3rem);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--watermelon-color);
  color: var(--neutral-color);
  width: auto;
}

/* Footer Links */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.links-container {
  max-width: 500px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.links-container img {
  width: 40px;
}

.footer-info {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
/* About Me Section*/
.about-img-profile {
  width: max(180px, 340px);
  height: auto;
}

.profile-pic {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 1em auto;
  padding: 0 8%;
}

.wrapper h2,
.wrapper h3,
.section-header {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 2px rgba(169, 169, 169, 1);
  text-decoration: none;
}

.wrapper h2 {
  color: var(--watermelon-color);
  font-size: clamp(1rem, 3vw, 2rem);
}

.wrapper h3 {
  color: #333;
  margin: 0 0 20px;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.about-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.about-text {
  max-width: 600px;
}

.about-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(24px, 3vw, 32px);
}

.about-text a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

/* About Skills Section*/

.container-icons {
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.box-icons {
  text-align: center;
  /* border: 1px solid black; */
  width: clamp(100px, 5vw, 600px);
  /* min-width: 200px;
  max-width: 400px; */
  flex: 1;
  padding: 0.5em;
  margin: 0.5em;
}

.box-icons img {
  width: clamp(60px, 5vw, 80px);
  /* width: 60px; */
  height: auto;
}

.box-icons p {
  margin: 10px 0;
  font-size: 1.5em;
  font-size: clamp(15px, 3vw, 20px);
}
/* About - Hobbies */
.hobbies-container {
  display: flex;
  flex-flow: column wrap;
}

.hobby-box {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  width: 100%;
}

.hobby-content {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.hobby-content p {
  max-width: 700px;
}

.hobby-img {
  max-width: 180px;
  min-width: 80px;
  max-height: 180px;
  flex: 1;
}

.hobby-img img {
  width: 100%;
  height: auto;
}

/* Store Page */
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-weight: normal;
  color: var(--watermelon-color);
  text-align: center;
  font-size: 2.5em;
  padding: 1rem 0;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}

.shop-item {
  margin: 30px;
  background-color: var(--carbon-color);
  padding: 1rem;
  border-radius: 10px;
  min-width: 300px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--neutral-color);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--watermelon-color);
  border-radius: 10px;
  margin-top: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: var(--neutral-color);
  font-weight: 600;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  font-size: 1.1em;
  color: var(--watermelon-color);
  font-weight: 600;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

.message-box {
  background-color: var(--sky-color);
  max-width: 300px;
  display: none;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 100px;
}

.message-box p {
  font-size: clamp(15px, 3vw, 20px);
  padding: 0.5rem;
  margin: 0;
  color: var(--watermelon-color);
}

/* Work Page */
/* Personal Projects Section */
.projects-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.project {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  gap: 1em;
  margin: 25px 0;
}

.project-info {
  flex: 2;
  max-width: 700px;
  min-width: 300px;
}

.project-info a {
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .project-info {
    text-align: center;
  }
}
.project-img {
  flex: 1;
  max-width: 380px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img img {
  width: auto;
  height: 250px;
  border-radius: 10px;
}

/* Career Goals Sections*/
.future-work {
  margin-top: 20px;
}
.goals-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.goals-image {
  flex: 1;
  max-width: 350px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-image img {
  width: 100%;
  height: auto;
}

.goals {
  flex: 2;
  max-width: 700px;
  min-width: 300px;
}

/* Contact Form Styling */

.contact-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.form {
  flex: 1;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container form {
  max-width: 500px;
  display: flex;
  flex-flow: column wrap;
}

.form-container label {
  font-size: clamp(18px, 3vw, 24px);
  color: var(--watermelon-color);
  text-shadow: 1px 1px 2px rgba(169, 169, 169, 1);
}
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 1rem 0.6rem;
  border: 2px solid rgba(72, 216, 164, 0);
  outline: none;
  font-size: clamp(15px, 3vw, 20px);
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 2px 2px var(--sky-color);
}

.heading4 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(24px, 3vw, 32px);
  color: var(--sky-color);
  text-shadow: 1px 1px 2px rgb(32, 32, 32);
}
.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: clamp(15px, 3vw, 20px);
}
