/* https://colorhunt.co/palette/f1f1f1fdb82721209c23120b */
/* https://colorpalettes.net/color-palette-1868/ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f1;
  background: url(./images/Sprinkle.svg);
}

.yellow {
  color: #fdb827;
}

.black {
  color: #23120b;
}

.blue {
  color: #21209c;
}

.white {
  color: #f1f1f1;
}

.red {
  color: red;
}

/* Hero Section */
.hero {
  padding: 4em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  color: #23120b;
}

.hero-info {
  max-width: 600px;
  text-transform: uppercase;
  text-align: center;
}

.hero-info h1 {
  font-size: 6em;
  font-weight: bold;
}

.hero-info h2 {
  font-size: 3em;
  font-weight: 600;
}

.hero-info h3 {
  font-size: 1.5em;
  font-weight: 500;
}

.img-container {
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.links-container {
  max-width: 500px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.links-container img {
  width: 40px;
}
/* About Section Styling */
.about-header {
  font-size: clamp(3rem, 12vw + 1rem, 7rem);
  text-align: center;
  padding: 1rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
  flex-flow: row wrap;
  padding: 1.5rem;
}

.about-img {
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  max-width: 700px;
  padding: 1rem;
  font-size: clamp(1rem, 5vw + 0.2rem, 2rem);
  background-color: #23120b;
  color: #fdb827;
  border-radius: 10px;
}

/* About - Hobbies */
.hobbies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hobbies h2 {
  font-size: clamp(2rem, 12vw + 1rem, 4rem);
}

.hobbies-card h3 {
  text-align: center;
}

.hobbies-card {
  max-width: 700px;
  font-size: clamp(1rem, 5vw + 0.2rem, 1.6rem);
  padding: 1.5rem;
  background-color: #23120b;
  color: #fdb827;
  border-radius: 10px;
  margin: 10px;
}

/* About - Skills */
.skills {
  padding: 3em 5em;
}

.skills-header {
  text-align: center;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.skills-box {
  min-width: 200px;
  max-width: 250px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
}

.skills-img {
  min-width: 100px;
}

.skills-img img {
  width: 100%;
  height: auto;
}
.skills-content {
  text-align: center;
}
/* Contact Form Styling */
form {
  background: #23120b;
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
  color: #fdb827;
}

form .title h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: #fdb827;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: #fdb827;
  color: #23120b;
}

@media (max-width: 480px) {
  form .half {
    flex-direction: column;
  }
  form .half .item {
    width: 100%;
  }
  form .action {
    display: flex;
    flex-direction: column;
  }
  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* Store Page */
